.button {
      background: #2D7C73;
      box-sizing: border-box;
      color:  #FFFFFF;
      font-family: 'Lufga', sans-serif;
      font-weight: 600;
      letter-spacing: 0.2vw;
}

.button:hover {
      background: #296A62;
}

.button:disabled {
      background: #74b6ae; /*#69ada5;*/
      border-color: #74b6ae;
}

.input {
      box-sizing: border-box;
      color: #000000;
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
      text-align: center;
      outline: none;
}

.input::placeholder {
      color: #ADADAD;

}

.textarea {
      box-sizing: border-box;
      color: #000000;
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
      outline: none;
      resize: none;
}

.textarea::placeholder {
      color: #ADADAD;

}

@media (orientation: portrait) {
      .button {
            width: 60vw;
            height: calc(0.22 * 60vw);
            max-height: 13vh;
            border: 0.2vw solid #2D7C73;
            border-radius: 7.2vw;
            filter: drop-shadow(0 1.6vw 1vw rgba(0, 0, 0, 0.25));
            font-size: 6vw;
            letter-spacing: 0.4vw;
            text-wrap: none;
      }

      .input {
            width: 60vw;
            height: 14.4vw;
            border: 0.2vw solid #8E8D8A;
            border-radius: 7.2vw;
            font-size: 5.76vw;
            letter-spacing: 0.4vw;

      }

      .textarea {
            width: 65vw;
            height: 25vw;
            border: 0.1vw solid #8E8D8A;
            border-radius: 7.2vw;
            font-size: 4.5vw;
            padding: 2vh 2vw 1vh 3.5vw;
      }
}

@media (orientation: landscape) {
      .button {
            width: 18vw;
            height: calc(0.22 * 18vw);
            min-height: 8vh;
            min-width: 36vh;
            border: 0.2vw solid #2D7C73;
            filter: drop-shadow(0 0.8vw 0.6vw rgba(0, 0, 0, 0.25));
            border-radius: 4vw;
            font-size: calc(0.22 * 18vh);
      }

      .input {
            width: 18vw;
            height: calc(0.22 * 18vw);
            min-height: 8vh;
            min-width: 36vh;
            border: 0.1vw solid #8E8D8A;
            border-radius: 4vw;
            font-size: calc(0.20 * 18vh);
            margin-bottom: 5%;
      }

      .textarea {
            width: 25vw;
            height: 7vw;
            border: 0.1vw solid #8E8D8A;
            border-radius: 1.9vw;
            font-size: 1.2vw;
            padding: 2vh 0.8vw 2vh 1.2vw;
      }
}