.button {
      background: #2D7C73;
      width: 15rem;
      height: 3.75rem;
      margin: 0.5rem;
      border: 0.031rem solid #2D7C73;
      border-radius: 1.875rem;
      filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
      color:  #FFFFFF;
      font-family: 'FONTSPRING DEMO - Lufga SemiBold', sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      letter-spacing: 0.08rem;
}

.button:hover {
      background: #296A62;
}

.input {
      width: 14.5rem;
      height: 3.75rem;
      margin: 0.5rem;
      border: 0.031rem solid #8E8D8A;
      border-radius: 1.875rem;
      color: #B0B0B0;
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
      font-size: 1.375rem;
      text-align: center;
      outline: none;
}

.input:focus {
      color: #000000;
}