
.button {
      /*position: absolute;*/
      width: 225px;
      height: 60px;
      left: calc(50% - 225px / 2 - 0.5px);
      top: calc(50% - 60px / 2 + 156px);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border: 0.5px solid #2d7c73;
      border-radius: 30px;
      font-family: 'FONTSPRING DEMO - Lufga SemiBold';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.05em;
      background: #2D7C73;
      color:  #FFFFFF;
  }

.button:hover {
      background: #296A62;
}

.input {
      width: 225px;
      height: 60px;
      left: calc(50% - 225px/2 - 1.5px);
      top: calc(50% - 60px/2 - 19px);
      border-radius: 30px;
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ADADAD;
}