.h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #2D7C73;
  }

.h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #ADADAD;
  }

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  @media (orientation: landscape) {

    .timer {
      display: absolute;
      position: fixed;
      top: 10%;
      left: 0%;
    }

    .container {
      width: 50vw;
      height: 32vw;
      border-radius: 7.2vw;
      margin: 4.5vw;
    }

    .h1 {
      font-size: 3vw;
      letter-spacing: 0.5vw;
      padding-top: -0.5vh; 
    }

    .h2 {
        font-size: 2vw;
        letter-spacing: 0.15vw;
        padding-top: 2vh; 
      }

    p.text{
      font-size: 1.5vw;
      padding-top: -6vh;
      padding-bottom: 4vh;
      margin: 0;
    }
}