.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.subtitle {
    font-size: 10vh;
    font-weight: 500;
    text-align: center;
    color: #2D7C73;
}

.pin {
    text-align: center;
    font-family: Rubik, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.label {
    color: #75A78F;
    font-weight: 600;
}

.number {
    color: #ADADAD;
    width: fit-content;
    font-weight: 700;
}

.container {
    background-color: #DCEBE1;
    filter: drop-shadow(0 0.4rem 0.2rem rgba(0, 0, 0, 0.25));
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.players {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.grid_item{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (orientation: landscape) {
    .header {
        margin-top: 1.5%;
        margin-bottom: 2%;
    }

    .subtitle {
        font-size: 10vh;
    }

    .pin {
        width: fit-content;
        font-size: calc((0.22 * 18vh) * 1.5);
        display: flex;
        letter-spacing: calc((0.22 * 18vh) * 0.15);
        margin: min(5vw, 3vh) auto min(5vh, 1vw) auto;
    }

    .container{
        min-width: calc(72vh + 3vw);
        width: calc(36vw + 3vw);
        min-height: 30vh;
        height: 50vh;
        border-radius: 4vw;
        padding: min(4vw, 5vh) min(4vw, 5vh) 0 min(4vw, 5vh);
    }

    .players {
        max-height: 90%;
        font-size: 3.5vh;
        grid-gap: min(5vw, 5vh);
    }

    .buttons {
        justify-content: center;
        z-index: 100;
        display: flex;
        height: 7%;
        width: 99.8%;
        margin: min(4vh, 1vw) 0 min(6vh, 5vw) 0;
    }

    .spacer{
        width: 3vw;
    }
}

@media (orientation: portrait) {
    .subtitle {
        font-size: min(15vw, 10vh);
    }

    .pin {
        padding: min(4vh, 5vw) 0 min(2vh, 5vw) 0;
        letter-spacing: 0.7vw;
    }

    .label, .number {
        font-size: min(6vh, 10vw);
    }

    .container{
        width: 70%;
        height: 100%;
        border-radius: 7.2vw;
        padding: 5%;
        margin: min(1vh, 5vw) auto min(5vh, 15vw) auto
    }

    .players {
        font-size: min(4vw, 3vh);
        grid-gap: 5vw;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto max(5vh, 5vw) auto;
        width: min(60vw, 30vh);
    }

    .spacer{
        height: min(2vh, 3vw);
    }
}