.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.header {
    width: 100vw;
    height: fit-content;
}

.subtitle {
    font-size: 10vh;
    font-weight: 500;
    text-align: center;
    color: #2D7C73;
}

.pin {
    text-align: center;
    font-family: Rubik, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.label {
    color: #75A78F;
    font-weight: 600;
}

.number {
    color: #ADADAD;
    width: fit-content;
    font-weight: 700;
}

.lobby {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.container {
    background-color: #DCEBE1;
    filter: drop-shadow(0 0.4rem 0.2rem rgba(0, 0, 0, 0.25));
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.players {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr));
    margin: 1vw;
}

.buttons {
    width: fit-content;
    height: fit-content;
}

@media (orientation: landscape) {
    .header {
        margin-top: 1.5%;
        margin-bottom: 2%;
    }

    .pin {
        width: fit-content;
        font-size: calc((0.22 * 18vh) * 1.5);
        display: flex;
        letter-spacing: calc((0.22 * 18vh) * 0.15);
    }

    .lobby {
        margin-top: 2%;
    }

    .container{
        min-width: calc(72vh + 3vw);
        width: calc(36vw + 3vw);
        min-height: 30vh;
        height: 50vh;
        border-radius: 4vw;
        margin: 1vw auto -1vh auto
    }

    .players {
        width: 90%;
        font-size: 3.5vh;
        grid-gap: 3vh 1vh;
        min-height: 30vh;
    }

    .buttons {
        z-index: 100;
        display: flex;
        margin: 4vh auto 4% auto;
    }

    .spacer{
        width: 3vw;
    }
}

@media (orientation: portrait) {
    .header {
        margin-top: 1.5%;
        margin-bottom: 4%;
    }

    .subtitle {
        font-size: 15vw;
        font-weight: 500;
        text-align: center;
        color: #2D7C73;
    }

    .pin {
        font-size: 6vw;
        margin: 2vh;
        letter-spacing: 0.7vw;
    }

    .lobby {
        height: 90%;
        margin-top: 2%;
        padding-bottom: 5vh;
    }

    .container{
        width: 60%;
        height: 100%;
        border-radius: 7.2vw;
        padding: 5%;
        margin: 0 auto 4vh auto
    }

    .players {
        width: 90%;
        font-size: 3vh;
        grid-gap: 3vw 1vw;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 4vw auto 2vh auto;
    }

    .spacer{
        height: 3vw;
    }
}