
.show-more-text {
  font-size: min(5vw, 3vh);
  font-family: Quicksand, sans-serif;
}

.show-more-link {
  text-decoration: underline;
  color: #75A78F;
  font-size: min(5vw, 3vh);
  font-family: Quicksand, sans-serif;
}

@media (orientation: landscape) {
  .page {
    display: flex;
    flex-flow: column;
    height: 99.7vh;
    width: 99.8vw;
  }

  .header {
    flex: 0 1 auto;
  }

  .subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .subtitle {
    font-family: 'Rubik', sans-serif;
    font-size: min(5vw, 7vh);
    letter-spacing: 0.5vw;
    font-weight: 600;
    text-align: center;
    color: #2D7C73;
    height: fit-content;
    width: 100%;
  }

  .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }

  .scenario {
    display: flex;
    justify-content: center;
    height: fit-content;
    font-size: min(5vw, 3vh);
    overflow: auto;
    max-height: 50vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-family: Quicksand, sans-serif;
    width: 100%;
    text-align: center;
  }

  .prompt {
    display: flex;
    justify-content: center;
    height: fit-content;
    font-size: min(5vw, 3vh);
    overflow: auto;
    max-height: 50vh;
    margin-bottom: 2.5vh;
    font-family: Quicksand, sans-serif;
    width: 100%;
    text-align: center;
  }

  .container{
    width: fit-content;
    max-width: 65%;
    height: fit-content;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin: 2vh auto 0 auto;
    height: 8%;
  }
}

@media (orientation: portrait) {
  .page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
  }

  .header {
    width: 100vw;
    height: fit-content;
    margin-top: 1.5%;
    margin-bottom: -5%;
  }

  .subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .subtitle {
    font-family: 'Rubik', sans-serif;
    font-size: min(10vw, 8vh);
    letter-spacing: 1.3vw;
    font-weight: 700;
    text-align: center;
    color: #2D7C73;
    height: fit-content;
    width: 100vh;
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    overflow: hidden;
    height: 90%;
    margin-top: 2%;
    padding-bottom: 5vh;
  }

  .scenario {
    display: flex;
    justify-content: center;
    height: 90%;
    font-size: min(4.5vw, 2.75vh);
    overflow-y: auto;
    font-family: Quicksand, sans-serif;
    width: 100%;
    text-align: center;
    align-items: safe center;
    margin: 2vh auto auto auto;
  }

  .prompt {
    display: flex;
    justify-content: center;
    height: 30%;
    font-size: min(4.5vw, 2.75vh);
    overflow-y: auto;
    font-family: Quicksand, sans-serif;
    width: 100%;
    text-align: center;
    align-items: safe center;
    margin: 2vh auto auto auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 65%;
    margin: 0 auto 4vh auto;
  }

  .buttons {
    width: fit-content;
    height: fit-content;
    max-height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -1vh auto 2vh auto;
  }

  .div_spacer{
    height: 5vh;
  }
}