// Icons //

.settings_icon {
  position: fixed;
  top: 4vh;
  right: 3.8vh;
  z-index: 99;
  width: 10vh;
  height: 10vh;
  opacity: 100;
}

.close_icon {
  position: fixed;
  top: -0.2vh;
  left: -1vh;
  z-index: 101;
  width: 5vw;
  opacity: 70%;
  height: 4vw;
}

.close_icon:hover {
  opacity: 100%;
}

.settings_icon:hover {
  opacity: 70%;
}

// Menu Structure //

.input { // A checkbox which determines if the flyout is open or closed
  position: fixed;
  top: 5vh;
  right: 5vh;
  opacity: 0;
  width: 7vh;
  height: 7vh;
}

.label { // To darken everything other than the menu
  position: fixed;
  top: 9999vh;
  right: 9999vw;
  height: 100vh;
  width: 100vw;
  background: #6B7372FF;
  background: linear-gradient(90deg, rgba(107, 115, 114, 0.76) 0%, rgba(87, 96, 96, 0.91) 60%, rgb(49, 63, 62) 81%, rgb(0, 0, 0) 100%);
  z-index: 101;
}

.slide { // Sliding components
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 101;
  display: flex;
  width: 28vw;
  pointer-events: none; // Makes div "click-throughable" to access buttons below.
  flex-flow: column nowrap;
  align-items: flex-start;
  transform: translateX(115%);
  transition: transform 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);;
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 32vw;
    background: #ffffff;
    content: '';
    transform: translateX(227%);
    transition: transform .5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }

  .content { // Content in the menu
    display: flex;
    flex-direction: column;
    color: black;
    width: 31vw;
    height: 100vh;
    transform: translateX(222%);
    transition: color .15s, transform .5s;
    transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .top { // Menu heading that contains the close icon and title
    display: flex;
    width: 31vw;
    margin: 2.5vh 0 3.5vh 0;
    height: fit-content;
    align-items: center;
  }

  .title {
    font-family: Rubik, sans-serif;
    height: fit-content;
    width: 100%;
    font-size: 3vw;
    letter-spacing: 0.5vw;
    font-weight: 500;
    text-align: center;
    color: #3A847C;
    margin-right: auto;
    margin-left: auto;
  }

  .settings { // Settings form
    display: flex;
    flex-direction: column;
    margin-top: -2vh;
  }
  .heading { // Individual setting headings (e.g. number of rounds)
    width: 100%;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-size: min(1.6vw, 2.5vh);
    margin-bottom: 1vh;
  }

  .divider { // Dividing line between each individual setting
    background: #75A78F;
    width: 75%;
    margin: 1.5vh auto 1.5vh auto;
    height: 0.2vh;
  }

  .buttons { // Div that contains the buttons
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2vw auto 3vh auto;
  }

  .spacer{ // Vertical spacing between the buttons
    height: 1.5vh;
  }
}

// Behaviour after input is checked //

[id="navcheck-h"]:checked {
  & + .settings_icon {
    opacity: 0;
    &::before {
      opacity: 1;
      pointer-events: auto;
    }
  }

  & + .label { // When checkbox is clicked label 0% to 40% opacity
    opacity: 40%;
    top: 0;
    right: 0;
  }

  & ~ .slide { // menu component slides out
    transform: translateX(0);
    pointer-events: auto; // Makes menu close button clickable again
  }
}

@media (orientation: landscape) {
  .setter { // Entire setter component (- input +)
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vh 0 1vh 0;
    margin-bottom: -1vh;
  }

  .increase_button, .decrease_button { // Setter buttons
    width: 3vw;
    height: 3vw;
    background: #75A78F;
    border: 0.15vw white solid;
    filter: drop-shadow(0 1vw 1vw rgba(0, 0, 0, 0.2));
    color:  #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 2vw;
    border-radius: 50%;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .increase_button:hover, .decrease_button:hover {
    background-color: #60937c;
    font-size: 2.2vw;
  }

  .toggles {
    height: 14vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .custom_wrapper {
    max-height: min(2.7vw, 4.3vh);
    margin: 1vh auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .custom {
    font-family: Quicksand, sans-serif;
    font-size: min(1.6vw, 2.5vh);
  }

  .preview {
    font-family: Quicksand, sans-serif;
    font-size: min(1.5vw, 2.4vh);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 72%;
  }

  .clear {
    position: absolute;
    font-size: min(1.8vw, 2.8vh);
    right: 3.5vw;
    color: #75A78F;
    border-bottom: 1px solid #75A78F;
  }
}

@media (orientation: portrait) {
  .back_icon {
    position: absolute;
    top: min(3vw, 2vh);
    left: min(3vw, 3vh);
    z-index: 99;
    width: min(11vw, 8vh);
    height: min(11vw, 8vh);
  }

  .back_icon:hover {
    opacity: 70%;
  }

  .setter { // Entire setter component (- input +)
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.75vh 0 0.75vh 0;
  }

  .time {
    width: 7vw;
    height: 3.5vw;
    font-size: 1.5vw;
  }

  .increase_button, .decrease_button { // Setter buttons
    height: 12vw;
    max-height: 6vh;
    aspect-ratio: 1/1;
    background: #75A78F;
    border: 0.15vw white solid;
    filter: drop-shadow(0 1vw 1vw rgba(0, 0, 0, 0.2));
    color:  #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: min(7vw, 4vh);
    border-radius: 50%;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .increase_button:hover, .decrease_button:hover {
    background-color: #60937c;
    font-size: min(7.3vw, 4.3vh);
  }
}