.switch {
    position: relative;
    display: inline-block;
    width: min(14vw, 8.75vh);
    height: min(7.2vw, 4.5vh);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20vw;
}

.slider:before {
    position: absolute;
    content: "";
    height: min(4.9vw, 3.1vh);
    width: min(4.9vw, 3.1vh);
    left: min(1.1vw, 0.7vh);
    bottom: min(1.1vw, 0.7vh);
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #75A78F;
}

input:focus + .slider {
    box-shadow: 0 0 1px #75A78F;
}

input:checked + .slider:before {
    transform: translateX(min(7vw, 4.2vh));
}