.card, .card2 {
    background-color: #DCEBE1;
    filter: drop-shadow(0 0.4rem 0.2rem rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background-color: #b2d4c3;
}

.card:focus {
    border: 5px solid #75A78F;
    margin: 5px;
}

.card3 {
    background-color: #DCEBE1;
    filter: drop-shadow(0 0.4rem 0.2rem rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #75A78F;
    margin: 5px;
}

.show-more-text {
    font-size: min(5vw, 3vh);
    font-family: Quicksand, sans-serif;
}

.show-more-link {
    text-decoration: underline;
    color: #75A78F;
    font-size: min(5vw, 3vh);
    font-family: Quicksand, sans-serif;
}

@media (orientation: landscape) {
    .page {
        display: flex;
        flex-flow: column;
        height: 99.7vh;
        width: 99.8vw;
    }

    .header {
        flex: 0 1 auto;
    }

    .subheader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .subtitle {
        font-family: 'Rubik', sans-serif;
        font-size: min(5vw, 7vh);
        letter-spacing: 0.5vw;
        font-weight: 600;
        text-align: center;
        color: #2D7C73;
        height: fit-content;
        width: 100%;
        margin-bottom: min(3vw, 3vh);
    }

    .content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }

    .container{
        width: 100%;
        height: 60%;
    }

    .masonry {
        display: flex;
        width: calc(3 * (25vw +  min(5vw, 5vh)));
        flex-wrap: wrap;
        padding-left: min(2vw, 2vh);
        margin: 0 auto;
        max-height: 80%;
        overflow-y: scroll;
    }

    .masonry::-webkit-scrollbar {
        width: 8px;
    }

    .masonry::-webkit-scrollbar-thumb {
        background: #cccccc;
        border-radius:10px;
    }

    .card, .card2, .card3 {
        width: 20vw;
        height: fit-content;
        min-height: 10vh;
        margin: min(2vw, 2vh);
        border-radius: min(2vw, 2vh);
        padding: min(2vw, 2vh)min(2vw, 2vh);
    }

    .no_response {
        font-size: min(5vw, 3vh);
        font-family: Quicksand, sans-serif;
        width: 100%;
        text-align: center;
        margin-top: min(5vw, 5vh);
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin: 2vh auto 0 auto;
        height: 8%;
    }

    .button_spacer{
        min-width: 3vw;
    }
}

@media (orientation: portrait) {
    .page {
        display: flex;
        flex-direction: column;
        height: 99.7vh;
        width: 99.7vw;
    }

    .header {
        margin-top: 1.5%;
        margin-bottom: 9%;
        height: fit-content;
    }

    .subheader {
        display: flex;
        margin-bottom: 1%;
        align-items: center;
        justify-content: space-between;
    }

    .subtitle {
        font-family: 'Rubik', sans-serif;
        font-size: min(10vw, 8vh);
        letter-spacing: 0.5vw;
        font-weight: 700;
        text-align: center;
        color: #2D7C73;
        height: fit-content;
        width: 90%;
        margin: min(12vw, 10vh) 0 min(5vw, 5vh) 0;
    }

    .content {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        overflow: hidden;
        padding-bottom: 5vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 80%;
        margin: 0 auto 0 auto;
    }

    .carousel_wrapper {
        height: 100%;
        width: min(80vw, 50vh);
        overflow: hidden;
        overflow-y: scroll;
        padding: 0 min(2vw, 1vh);
    }

    .carousel_wrapper::-webkit-scrollbar {
        width: 8px;
    }

    .carousel_wrapper::-webkit-scrollbar-thumb {
        background: #cccccc;
        border-radius:10px;
    }

    .card, .card2, .card3 {
        height: fit-content;
        width: 80%;
        min-height: 10vh;
        border-radius: min(7.2vw, 5vh);
        margin-bottom: 5%;
        padding: min(5vw, 5vh)min(5vw, 5vh);
        overflow-x: hidden;
    }

    .no_response {
        font-size: min(5vw, 3vh);
        font-family: Quicksand, sans-serif;
        width: 100%;
        text-align: center;
        margin-top: min(5vw, 5vh);
    }

    .buttons {
        width: fit-content;
        height: fit-content;
        max-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5vh auto 2vh auto;
    }

    .div_spacer{
        height: 5vh;
    }
}
