.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(214, 234, 226, 0.304);
    display:flex;
    justify-content: center;
    align-items: center;
  
}

.popup-inner {
    width: 100vw;
    height: 32vw;
    border-radius: 7.2vw;
    margin: 4.5vw;
    position: relative;
    padding-top: 50px;
    height: 100%;
    max-width: 640px;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);  
}



.popup-inner .close-btn {
    position: fixed;
    color: #fff;
    top:22%;
    left: 30%;
    width: 5%;
    height: 9%;
    border-radius: 50%;
    border: #fff;
    background: #2D7C73;
}

.popup-inner .close-btn:hover {
    background: #296A62;
}