@font-face {
  font-family: "Rubik";
  src: local("rubik-semi-bold"),
  url("./styles/fonts/rubik-semi-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lufga";
  src: local("lufga-regular"),
  url("./styles/fonts/lufga-regular.otf") format("opentype");
}

@font-face {
  font-family: "Quicksand";
  src: local("quicksand-regular"),
  url("./styles/fonts/quicksand-regular.otf") format("opentype");
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.title {
  font-weight: 500;
  text-align: center;
  color: #2D7C73;
}

.heading {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #2D7C73;
}

.subheading {
  font-family: 'Quicksand', sans-serif;
  font-weight: 550;
  text-align: center;
  color: #ADADAD;
}

.header{
  display: absolute;
  top: 0%;
  position: fixed;
  max-height: calc(5%);
  border: 2px red solid;
}

.name {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-align: left;
  color: #2D7C73;
  display: inline-block;
  border: 1px red solid;
}

.round {
  font-family: 'quicksand', sans-serif;
  font-weight: 300;
  text-align: right;
  color: #ADADAD;
  display: inline-block;
  border: 1px red solid;
}

.button {
  margin-left: auto;
  margin-right: auto;
}

.container {
  background-color: #DCEBE1;
  filter: drop-shadow(0 0.4rem 0.2rem rgba(0, 0, 0, 0.25));
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (orientation: portrait) {
  .title {
    font-size: 20vw;
    margin-top: -10vw;
    margin-bottom: 1vw;
  }

  .heading {
    font-size: 10vw;
    letter-spacing: 1.5vw;
    /*padding-top: 7vw;*/
    /*padding-bottom: 2vw;*/
  }

  .subheading {
    font-size: 9vw;
    letter-spacing: 0.7vw;
    /*padding-top: 4vw;*/
    /*padding-bottom: 6vw;*/
  }

  .name {
    font-size: 4vw;
  }

  .round {
    font-size: 4vw;
  }

  .container {
    width: 60vw;
    height: 32vw;
    border-radius: 7.2vw;
    margin: 4.5vw;
  }
}

@media (orientation: landscape) {
  .title{
    font-size: 6vw;
    margin-top: -4vw;
  }

  .heading {
    font-size: 4.3vw;
    letter-spacing: 0.4vw;
    /*padding-top: 3vw;*/
    /*padding-bottom: 1.5vw;*/
  }

  .subheading {
    font-size: 4.3vw;
    letter-spacing: 0.4vw;
    /*padding-top: 3vw;*/
    /*padding-bottom: 1.5vw;*/
  }

  .header{
    margin-top: 2vw;
  }

  .name {
    margin-right: 45vw;
    font-size: 4vw;
  }

  .round {
    margin-left: 25vw;
    font-size: 4vw;
  }

  .container{
    width: 18vw;
    height: 9.8vw;
    border-radius: 3vw;
    margin: 1vw;
  }
}
