@font-face {
  font-family: "Rubik";
  src: local("rubik-semi-bold"),
  url("./styles/fonts/rubik-semi-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-Regular";
  src: local("rubik-regular"),
  url("./styles/fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lufga";
  src: local("lufga-regular"),
  url("./styles/fonts/lufga-regular.otf") format("opentype");
}

@font-face {
  font-family: "Quicksand";
  src: local("quicksand-regular"),
  url("./styles/fonts/quicksand-regular.otf") format("opentype");
}


.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.title {
  font-weight: 500;
  text-align: center;
  color: #2D7C73;
}

.heading {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #2D7C73;
}

.subheading {
  font-family: 'Quicksand', sans-serif;
  font-weight: 550;
  text-align: center;
  color: #ADADAD;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  top:0;
  left:0;
  width: 100%;
}

.name {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 300;
  color: #2D7C73;
  margin: 0;
}

.round {
  font-family: 'quicksand', sans-serif;
  font-weight: 300;
  color: #ADADAD;
  margin: 0;
}

.button {
  margin-left: auto;
  margin-right: auto;
}

.container {
  background-color: #DCEBE1;
  filter: drop-shadow(0 0.4rem 0.2rem rgba(0, 0, 0, 0.25));
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (orientation: portrait) {
  .title {
    font-size: 20vw;
    margin-top: -10vw;
    margin-bottom: 1vw;
  }

  .heading {
    font-size: 10vw;
    letter-spacing: 1.5vw;
    /*padding-top: 7vw;*/
    /*padding-bottom: 2vw;*/
  }

  .subheading {
    font-size: 9vw;
    letter-spacing: 0.7vw;
    /*padding-top: 4vw;*/
    /*padding-bottom: 6vw;*/
  }

  .header{
    margin-top: 3vw;
  }

  .name {
    margin-left: 3vw;
    font-size: 10vw;
  }

  .round {
    font-size: 6vw;
    margin-right: 3vw;
  }

  .container {
    width: 60vw;
    height: 32vw;
    border-radius: 7.2vw;
    margin: 4.5vw;
  }
  .spacer{
    height: 3vw;
    max-height: calc(0.26 * 7vh);
  }
}

@media (orientation: landscape) {
  .title{
    font-size: 6vw;
  }

  .heading {
    font-size: 3vw;
    letter-spacing: 0.4vw;
    padding-top: 3vw;
    padding-bottom: 1.5vw;
  }

  .subheading {
    font-size: 4.3vw;
    letter-spacing: 0.4vw;
  }

  .header{
    margin-top: 2vh;
    margin-right: 1vh;
  }

  .name {
    margin-left: 4vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    font-size: 5.5vh;
  }

  .round {
    margin-right: 4vh;
    font-size: 4.5vh;
  }

  .container{
    width: fit-content;
    min-width: 18vw;
    min-height: calc(0.22 * 30vw);
    height: fit-content;
    border-radius: 10% / 20%;
    margin: 1vw 2vw 2vw 2vw;
  }
}
